@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header_right {
  display: flex;
    width: fit-content;
    right: 20px;
    align-items: center;
    justify-content: space-between;
}

.header__left img {
  width: 50px;
  margin-left: 15px;
}

.header i {
  padding: 0 7px;
  cursor: pointer;
}

.header__search form {
  border: 1px solid #ddd;
  height: 35px;
  padding: 0;
  display: flex;
}

.header__search input {
  display: flex;
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  height: 100%;
}

.header__search button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
}

.header__search button:hover {
  background-color: #E4E4E4;
  box-shadow: 0 1px 1px rgba(0,0,0,.15),
    inset 0 0 2px rgba(0,0,0,.05);
  transition: all .07s ease-in-out
}

.notification-wrapper {
  margin-right: 10px;
  cursor: pointer;
  color: rgb(190,202,218);
}

.notification-wrapper:hover {
  color: #7a7979;
}

.dropdown-menu {
    display: none;
    position:absolute ;
    top: 95%;
    right: 10%;
    border-radius: 3px;
    background-color: white;
    color: rgb(156,167,179);
    min-width: 200px;
    height: auto;
    padding: 5px;
}

.dropdown-menu > hr {
    border: none; 
    background-color: rgb(156,167,179);
    height: 2px; 
}

.dropdown-menu > span {
    display: block;
    text-align: center;
}

.dropdown-menu > a {
    display: block;
    color: black;
    text-decoration: none;
    align-items: center;
    padding: 5px;
}

.dropdown-menu > a:hover {
    background-color: rgb(248,249,252);
}

.avatar {
    width: 30px;
    height: 30px;
    background-color: rgb(248,153,28);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.avatar > span { 
    display: block;
    text-align: center;
    font-size: 0;
}

.avatar > span::first-letter {
    font-size: 20px;
}


.avatar:hover {
    background-color: #c27503;
}

.avatar > input {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.avatar > input:checked ~ .dropdown-menu {
    display: block;
}

.item-contacts {
  grid-area: contacts;
  border-radius: 30%;
}

.item-contacts  .item-back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-contacts a {
  margin: 3px;
}

.item-contacts a:hover path,
.item-contacts a:hover circle {
  fill: rgb(45,153,254);
}

p.item-front::selection {background: #c27503;}
p.item-front::-moz-selection {background: #c27503;}
p.item-front::-webkit-selection {background: #c27503;}

.mainBody {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 400px;
  background-color:#f9f9f9;
  overflow-y: scroll;
}

.sidebar__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar__category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.sidebar__category span {
  margin-left: 15px;
}

.sidebar__category:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

.categories {
  padding: 1rem 2rem;

}

.category-section {
  display: flex;
  overflow: hidden;
}

.category {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #CCC;
  border-radius: 900px;
  background-color: #E7E7E7;
  padding: .5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;


}

.category:hover {
  background-color: #DDD;
}

.category.active {
  background-color: #c27503;
  color: white;
  border-color: #EEE;
}

.category:last-child {
  margin-right: 0;
}

.videos {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.videos__container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video {
  width: 310px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.video__thumbnail {
  width: 100%;
  height: 170px;
}

.video__thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.video__details {
  display: flex;
  margin-top: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a{
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(3, 3, 3);
}